name: app-ci

on:
  push:
    branches:
      - main
      - develop
  pull_requests:
    branches:
      - main

jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean package -DskipTests
